<div class="container col-sm-2">
  <div class="row">
    <div>
      <a class="btn btn-danger" href="/">Restart</a>
      <button class="btn btn-primary pull-right" (click)="onAddLocation()">Add Location</button>
      <br>
    </div>
    <div id="content">
      <ul class="list-group">
        <a
        class="list-group-item col-xs-6 col-sm-12"
        style="cursor: pointer"
        *ngFor="let location of locations; let i = index"
        (click)="onLocationWasSelected(i)"
        >
          <b>{{ location.dateView }}</b>
          {{ location.name }}
          <!-- Set placeholder image if no image exists -->
          <div *ngIf="location.image[0]; else noImage">
            <img class="img img-responsive" [src]="location.image[0]">
          </div>
          <ng-template #noImage>
            <img class="img img-responsive" src="http://via.placeholder.com/150x75/ffffff/8b0000?text=No+Image">
          </ng-template>
        </a>
      </ul>
    </div>
  </div>
</div>
