body {

    background-image: url('/assets/images/background-simon-matzinger.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  }

  .handwritten { font-family: 'Homemade Apple', cursive; }


